<h1>Coaching#ask</h1>

<div class="row prompt">
  <form action="/coaching/answer">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." name="query">
        <span class="input-group-btn">
          <input type="submit">
        </span>
      </div>
    </div>
  </form>
</div>
